@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost-500-Medium.woff2);
}

.main {
    font-family: 'Jost';
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
