body {
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: black;
  color: white;
}


.body-styling {
    background-color: white;
}

.header-logo {
    max-width: 8%;
    height: auto;
    padding: 5px;
    padding-right: 15px;
}

.header-logo-link {
  display: flex;
  align-items: center;
}
