body {
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: flex-start; /* push everything to the left */
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: black;
  color: white;
}


.body-styling {
    background-color: white;
}

.header-logo {
    max-width: 2.5%;
    height: auto;
    padding: 5px;
    padding-right: 15px;
}